
body


{

    background-color: rgb(26, 152, 161);

}






p

{ color: rgb(133, 21, 133);
 
    font-weight: 800;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

#ob1


{


width: 500px;




}












